<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaBots</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/vue.min.js"></script>
    <script src="/js/three.min.js"></script>
    <script src="/js/OrbitControls.min.js"></script>
    <script src="/js/stats.min.js"></script>
</head>
<body>
    <canvas id="canvas"></canvas>

    <div id="app" class="app">
        <div class="header">
            <h1><a href="/">MegaBots</a></h1>
            <div class="flex"></div>
            <p>{{ connected ? 'Connected with websockets server' : 'Disconnected from websockets server'}}</p>
        </div>

        <div class="middle">
            <div class="robots box">
                <h2>Robots</h2>
                <ul>
                    <li v-for="robot in robots" :key="robot.id">
                        <b :style="{ color: '#' + robot.color.toString(16).padStart(6, '0') }">Robot {{ robot.id }}</b>: {{ robot.x != undefined ? robot.x : '?' }} x {{ robot.y != undefined ? robot.y : '?' }} - {{ robot.connected ? 'Connected' : 'Disconnected'}}
                        <ul v-if="robot.directions.length > 0">
                            <li v-for="direction, index in robot.directions">
                                Drive to: {{ direction.x }}x{{ direction.y }} <b v-if="index == 0">CURRENT</b> <button @click="cancelDirection(robot.id, direction.id)">Cancel</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="flex"></div>
            <div class="controls box">
                <h2>Controls</h2>
                <p>
                    <button @click="tickType = tickManual">Stop!</button>
                    <select v-model="tickType">
                        <option :value="tickAuto">Auto Tick</option>
                        <option :value="tickManual">Manual Tick</option>
                    </select>
                    <span v-if="tickType == tickAuto">
                        Speed:
                        <select v-model="tickSpeed">
                            <option v-for="i in 10" :value="i * 100">{{ i * 100 }} ms</option>
                        </select>
                    </span>
                    <span v-else>
                        <button @click="tick">Tick</button>
                    </span>
                </p>

                <form @submit.prevent="sendFormSubmit">
                    <p>
                        Send
                        <select v-model="sendForm.robot_id">
                            <option v-for="robot in robots" :key="robot.id" :value="robot.id">
                                Robot {{ robot.id }}
                            </option>
                        </select>
                        to location
                        <input class="number-input" type="number" v-model="sendForm.robot_x" min="1" :max="mapWidth - 2">
                        x
                        <input class="number-input" type="number" v-model="sendForm.robot_y" min="1" :max="mapHeight - 2">
                        <button type="sumbit">Send</button>
                    </p>
                </form>

                <form @submit.prevent="pickupFormSubmit">
                    <p>
                        Let
                        <select v-model="pickupForm.robot_id">
                            <option v-for="robot in robots" :key="robot.id" :value="robot.id">
                                Robot {{ robot.id }}
                            </option>
                        </select>
                        pickup from
                        <input  class="number-input" type="number" v-model="pickupForm.robot_x1" min="1" :max="mapWidth - 2">
                        x
                        <input  class="number-input" type="number" v-model="pickupForm.robot_y1" min="1" :max="mapHeight - 2">
                    </p>

                    <p>
                        and deliver to
                        <input  class="number-input" type="number" v-model="pickupForm.robot_x2" min="1" :max="mapWidth - 2">
                        x
                        <input  class="number-input" type="number" v-model="pickupForm.robot_y2" min="1" :max="mapHeight - 2">
                        <button>Send</button>
                    </p>
                </form>
            </div>
        </div>

        <p class="footer">Made by <a href="https://bastiaan.ml/" target="_blank">Bastiaan van der Plaat</a>, Eki Pratama, Maarten Brilleman en Rowdey Goos</p>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
